@import "tailwindcss";

@font-face {
  font-family: 'inter-regular';
  src: url('./assets/fonts/Inter_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-bold';
  src: url('./assets/fonts/Inter_Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-family-inter-regular: "inter-regular", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-inter-bold: "inter-bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: var(--font-family-inter-regular);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fbf9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

h3 {
  font-family: var(--font-family-inter-bold) !important;
}